@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-headerFooter: rgb(18, 18, 18);
  --grey-color: rgb(102, 102, 102);
  --font-titulo: 'Oswald', sans-serif;
  --font-parrafo: 'Barlow Condensed', sans-serif;
  --red-text: rgb(199, 16, 46);
}

*{
  margin: 0 ;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: var(--font-parrafo);
background-color: rgb(33, 33, 33);
}
p{
  font-family: var(--font-parrafo);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-titulo);
  font-size: 30px;
}
button{
  color: white;
}

/* Utility Classes */
.red-text {
  color: var(--red-text);
}