.hero-banner-container {
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 0;
}

/* Distribución de los 5 videos en una sola línea */
.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video llene su espacio sin deformarse */
  pointer-events: none; /* Evita que el usuario interactúe con los controles del video */
}

/* RESPONSIVE */
@media (min-width: 320px) and (max-width: 550px){
.hero-banner-container {
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 0;
}

/* Distribución de los 5 videos en una sola línea */
.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video llene su espacio sin deformarse */
  pointer-events: none; /* Evita que el usuario interactúe con los controles del video */
}
}

@media (min-width: 551px) and (max-width: 750px){
.hero-banner-container {
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 0;
}

/* Distribución de los 5 videos en una sola línea */
.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video llene su espacio sin deformarse */
  pointer-events: none; /* Evita que el usuario interactúe con los controles del video */
}
}

@media (min-width: 751px) and (max-width: 1100px){
.hero-banner-container {
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 0;
}

/* Distribución de los 5 videos en una sola línea */
.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video llene su espacio sin deformarse */
  pointer-events: none; /* Evita que el usuario interactúe con los controles del video */
}
}


